<div class="cards-container">
  <h2 class="text-center mb-4"><%= @list.name %></h2>
  <div class="cards">
    <% @list.movies.each do |movie| %>
      <div class="movie">
        <img alt=<%= movie.title %> width="200" src=<%= movie.poster_url %> class="card-category" />
        <p><%= movie.title %></p>
        <%# <% bookmark = List.find(params[:id]) %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <%= link_to "Remove", list_bookmark_path(bookmark), bookmark_id: @bookmark, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to "Back to list", lists_path, class: "btn btn-ghost" %>
</div>
